---
layout: null
---
$link-bg: rgb(245,245,245);
$link-bg-hover: rgb(230,230,230);

html, body { -webkit-text-size-adjust: none; }

body {
  color: rgb(50,50,50);
  margin: auto;
  padding: 0 2ex;
  max-width: 600px;
  line-height: 1.5em;
  font-family: Merriweather, serif;
  font-size: 0.85em;
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  p {
    line-height: 2;
    a {
      background-color: $link-bg;
      padding: 0.5ex;
      &:hover { background-color: $link-bg-hover; }
    }
  }
}

footer {
  font-size: 0.85em;
  color: rgb(160,160,160);
  -webkit-font-variant-ligatures: no-common-ligatures;
}

blockquote {
  margin: 1em 2ex;
}

sup {
  line-height: 0.5;
  font-size: 0.65em;
}

pre {
  line-height: initial;
}

code {
  font-family: Inconsolata, monospace;
}

main {
  img { width: 100%; }
  iframe { width: 100%; }
  p, li {
    a {
      border-bottom: 1px solid;
      &:hover { background-color: $link-bg; }
    }
  }
}

table {
  width: 100%;
}

.project {
  margin-bottom: 2em;
}

.video {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footnotes {
  margin: 0;
  font-size: 0.65em;
}

.reversefootnote {
  font-size: 0.65em;
}

.credit {
  float: right;
  margin: 0;
  line-height: 1;
  font-size: 0.85em;
  font-style: italic;
  text-align: right;
  color: rgb(160,160,160);
}
