---
layout: null
---
$primary-color: rgb(50,50,50);
$main-width: 600px;

body {
  margin: auto;
  padding: 0 2ex;
  max-width: $main-width;
  color: $primary-color;
  line-height: 1.5em;
  font-family: Merriweather, serif;
  font-size: 85%;
  font-weight: 200;
}

header p a {
  color: inherit;
  line-height: 2em;
  padding: 0.5ex;
  background-color: rgb(235,235,235);
  text-decoration: none;
  &:hover {
    outline-style: solid;
    outline-width: 1px;
    text-decoration: none;
  }
}

footer {
  font-size: 85%;
  color: rgb(160,160,160);
  -webkit-font-variant-ligatures: no-common-ligatures;
}

h1, h2 {
  line-height: initial;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  a {
    color: black;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

blockquote {
  margin: 1em 2ex;
}

sup {
  line-height: 0.5;
  font-size: 66%;
}

code {
  font-family: Inconsolata;
}

main {
  img {
    width: 100%;
    &.still {
      background-color: black;
    }
  }
  iframe {
    width: 100%;
  }
}

.project {
  margin-bottom: 2em;
}

.footnotes {
  margin: 0;
}

.reversefootnote {
  font-size: 66%;
}
