---
layout: null
---
$link-bg: rgb(245,245,245);
$link-bg-hover: rgb(230,230,230);
$link-underline: rgb(210,210,210);
$font-color: rgb(50,50,50);

html, body { -webkit-text-size-adjust: none; }

body {
  margin: 0;
  padding: 0;
  color: $font-color;
  line-height: 1.5em;
  font-family: "Europa", serif;
  p, li, dt, dd {
    a {
      border-bottom: 1px solid $link-underline;
      &:hover { border-bottom-color: inherit; }
    }
  }
}

header {
  margin: 0 0 2em;
  padding: 0 15px;
  p {
    line-height: 2;
    a {
      padding: 0 0.5ex;
    }
  }
}

article p, ol, ul {
  font-weight: 300;
}

main {
  img { width: 100%; }
  iframe { width: 100%; }
}

main.home {
  float: left;
  clear: none;
  max-width: 600px;
}

main.project {
  max-width: 720px;
  margin: 0 auto 6em;
  .hero {
    margin: 2em 0;
  }
  article {
    padding: 0 60px;
  }
}

main.article {
  max-width: 600px;
  margin: 0 0 6em;
  padding: 0 60px;
}

aside {
  float: left;
  clear: none;
  margin: 0;
  padding: 0 15px;
  max-width: 330px;
  p {
    font-size: 0.9em;
    font-weight: 300;
  }
}

footer {
  margin: 0 0 2em;
  padding: 0 15px;
  clear: both;
  font-size: 0.85em;
  font-weight: 300;
  color: rgb(160,160,160);
  -webkit-font-variant-ligatures: no-common-ligatures;
}

h1 {
  font-size: 1.5em;
  a:hover { border-bottom: 1px solid; }
}

h2 {
  font-size: 1.2em;
  a:hover { border-bottom: 1px solid; }
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: rgb(80,80,80);
  border-left: rgb(240,240,240) solid 8px;
}

dt {
  margin-top: 0.5em;
}

dd {
  margin: 0.5em 2ex;
}

sup {
  line-height: 0.5;
  font-size: 0.85em;
}

pre {
  line-height: initial;
}

code {
  font-family: Inconsolata, monospace;
}

table {
  width: 100%;
}

.card {
  float: left;
  clear: none;
  max-width: 500px;
  min-width: 360px;
  height: 35em;
  margin: 0 15px 2em;
}

.video {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footnotes {
  margin: 0;
  font-size: 0.85em;
}

.reversefootnote {
  font-size: 0.65em;
}

.credit {
  float: right;
  margin: 0;
  line-height: 1;
  font-size: 0.85em;
  font-style: italic;
  font-weight: 300;
  text-align: right;
  color: rgb(160,160,160);
}
