---
layout: default
---
<main class="article">
    {% for item in site.posts %}
    <article class="post">
        {% if item.layout == "post" %}
        {% include micro.html url=item.url image=item.image content=item.content %}
        {% else %}
        {% include project.html title=item.title url=item.url image=item.image excerpt=item.excerpt credit=item.credit %}
        {% endif %}
        <a href="{{ item.url }}" class="permalink">
            <time datetime="{{ item.date }}">&rarr; {{ item.date | date: site.permalink_date_format }}</time>
        </a>
    </article>
    {% endfor %}
</main>
