---
title: etc.
layout: article
nav: 5
keyboard: g e
---

<h2>Short Fiction</h2>
{% for item in site.categories.microfiction %}
<p><a href="{{ item.url }}">{{ item.title }}</a> &ndash; {{ item.date | date: "%B %Y" }}</p>
{% endfor %}
<p><a href="{% link _projects/zuckerberg.html %}">Mark Zuckerberg Fan-Fiction</a>  &ndash; {{ "2013-12-26" | date: "%B %Y" }}</p>

<h2>Code</h2>
{% assign items = site.projects | where: "categories",  "code" | sort: date %}
{% for item in items %}
<p><a href="{{ item.external_url }}">{{ item.title }}</a> &ndash; {{ item.excerpt | remove: "<p>" | remove: "</p>" }}</p>
{% endfor %}
