---
title: etc.
layout: article
nav: 5
keyboard: g e
---
<h2>Visual Art</h2>
<p><a href="http://photos.paulwrankin.com/inkwork/" target="_blank">Inkwork image album</a></p>

<h2>Short Fiction</h2>
{% for item in site.categories.microfiction %}
<p><a href={{ item.url }}>{{ item.title }}</a> &ndash; {{ item.date | date: "%B %Y" }}</p>
{% endfor %}

<h2>Code</h2>
{% for item in site.categories.code reversed %}
<p><a {% if item.external_url %}href="{{ item.external_url }}" target="_blank"{% else %}href="{{ item.url }}"{% endif %}>{{ item.title }}</a> &ndash; {{ item.excerpt | remove: "<p>" | remove: "</p>" }}</p>
{% endfor %}
