---
title: C.V.
layout: default
---
<h2>Education</h2>
<dl>
    <dt>2013</dt>
    <dd>Bachelor of Arts (philosophy), University of Queensland</dd>
</dl>

<h2>Selected Screen Credits</h2>
{% assign grouped_posts = site.categories.filmmaking | group_by_exp: "item", "item.date | date: '%Y'" %}
<dl>
    {% for year in grouped_posts %}
    <dt>{{ year.items[0].date | date: '%Y' }}</dt>
    {% for item in year.items %}
    <dd>{% if item.image %}<a href="{{ item.url }}">{{ item.title }}</a>{% else %}{{ item.title }}{% endif %} &ndash; {{ item.excerpt | remove: "<p>" | remove: "</p>" }}</dd>
    {% endfor %}
    {% endfor %}
</dl>

<h2>Selected Performances</h2>
{% assign grouped_posts = site.categories.live | group_by_exp: "item", "item.date | date: '%Y'" %}
<dl>
    {% for year in grouped_posts %}
    <dt>{{ year.items[0].date | date: '%Y' }}</dt>
    {% for item in year.items %}
    <dd><a href="{{ item.url }}">{{ item.title }}</a> &ndash; {{ item.excerpt | remove: "<p>" | remove: "</p>" }}</dd>
    {% endfor %}
{% endfor %}
</dl>
