---
title: Filmmaking
layout: default
---
{% for page in site.categories.filmmaking %}
<div class="project">
    {% if page.image %}
    <a href="{{ page.url }}">
        <img class="still" alt="Still from {{ page.title }}" src="{{ page.image | prepend: site.assets }}">
    </a>
    {% endif %}
    <h2>{{ page.title }}</h2>
    {% if page.description %}
    {% assign thedate = page.date | date: "%B %Y" %}
    {{ page.description | append: " &ndash; " | append: thedate | markdownify }}
    {% endif %}
</div>
{% endfor %}
