---
layout: null
---

body {
  font-family: "Times New Roman", serif;
  margin: 4em auto;
  max-width: 600px;
}

a {
  color: inherit;
  &:hover {
    color: white;
    background-color: black;
  }
}

h1, h2 {
  font-weight: normal;
  font-style: italic;
}

h1 {
  font-size: 4rem;
  line-height: 1rem;
}

h2 {
  font-size: 3rem;
  line-height: 1rem;
}

img {
  width: 100%;
}

hr {
  margin: 3em 0;
}

.project {
  margin-top: 2em;
  margin-bottom: 6em;
}

.video {
  position: relative;
  padding-bottom: 9 / 16 * 100%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
