{% assign now = site.time %}
{% for item in site.posts %}
{% if item.news and item.date >= now %}
{% assign upcoming = true %}
{% endif %}
{% endfor %}

<h2>Upcoming</h2>

{% for item in site.posts %}
{% if item.news and item.date >= now %}
<p>{{ item.date | date: site.date_format | append: ": " }}
    <a {% if item.external_url %}
       href="{{ item.external_url }}" target="_blank"
       {% else %}
       href="{{ item.url }}"
       {% endif %}>{{ item.news | markdownify | remove: "<p>" | remove: "</p>" }}</a>
</p>
{% endif %}
{% endfor %}

<h2>Past</h2>

{% for item in site.posts %}
{% if item.news and item.date < now %}
<p>{{ item.date | date: site.date_format | append: ": " }}
    <a {% if item.external_url %}
       href="{{ item.external_url }}" target="_blank"
       {% else %}
       href="{{ item.url }}"
       {% endif %}>{{ item.news | markdownify | remove: "<p>" | remove: "</p>" }}</a>
</p>
{% endif %}
{% endfor %}
