<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% if page.title %}
            {{ site.title }} &ndash; {{ page.title }}
            {% else %}
            {{ site.title }}
            {% endif %}
        </title>
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ 'css/main.css' | prepend: site.base_url }}">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather:300|Oswald:700" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
        {% include shortcuts.html %}
    </head>
    <body>
        <header>
            <h1><a href="/">{{ site.title }}</a></h1>
            <p>
                {% for item in site.nav %}
                {% if item.name and item.url %}
                <a href="{{ item.url }}">{{ item.name }}</a>
                {% endif %}
                {% endfor %}
            </p>
        </header>
        <main>
            {{ content }}
        </main>
        <hr>
        <footer>
            <p>All content (excluding embedded media) &copy; {{ site.title }} 2013&nbsp;&ndash;&nbsp;2017 <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.</p>
            <p>Last updated: {{ site.time | date: site.date_format }}.</p>
        </footer>
    </body>
</html>
