---
layout: default
---
<div class="project">
    {% if page.image %}
    <img class="still" alt="Still from {{ page.title }}" src="{{ page.image | prepend: site.assets }}">
    {% endif %}
    {% if page.description %}
    {% assign thedate = page.date | date: "%B %Y" | prepend: " &ndash; " %}
    {{ page.description | append: thedate | markdownify }}
    {% endif %}
    {% if page.external_url %}
    <a href="{{ page.external_url}}">{{ page.external_url }}</a>
    {% endif %}
    <article>
        {{ content }}
    </article>
</div>
